# Actual scale_client requirements
circuits==3.2
paho-mqtt==1.2.3
PyYAML==3.12
# CoAPthon==4.0.2  # NOTE: I use a modified fork with some changes to fix bug #88: https://github.com/KyleBenson/CoAPthon.git
uritools==2.0.0

# These were required for virtualenv-based pip installation.
appdirs==1.4.3
pyparsing==2.2.0
packaging==16.8
six==1.10.0

## Packages below are not required for ALL configurations, hence are commented out.

#TODO: spidev? how to only download on pi?
#pyserial

# Required for iwlist virtual sensor
#XXX: depend on Debian package libiw-dev
#iwlib

# Required for database manager and event sink
#XXX: depend on Debian package libmysqlclient-dev
#peewee
#mysql
