circuits
#mosquitto
paho-mqtt
PyYAML
#TODO: spidev? how to only download on pi?
pyserial

# Required for iwlist virtual sensor
#XXX: depend on Debian package libiw-dev
#iwlib

# Required for database manager and event sink
#XXX: depend on Debian package libmysqlclient-dev
peewee
#mysql
